<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Kozea Promomaker</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Promomaker est un concepteur de PLV innovant qui permet de créer facilement des affiches promotionnelles en pharmacie.">

    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind+Madurai:300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='javascripts/jquery-3.2.1.min.js') }}"></script>
	<script async src="{{ url_for('static', filename='javascripts/bootstrap.js') }}"></script>
    <script async src="{{ url_for('static', filename='javascripts/scrollreveal.min.js') }}"></script>
	<script>
    var checkNavBar = function() {
      if ($(".navbar").offset().top > 30) {
        $(".navbar-fixed-top").addClass("sticky");
      } else {
        $(".navbar-fixed-top").removeClass("sticky");
      }

      checkMenu();
    };

    var checkMenu = function() {
      var target = '#home';
      var targets = new Array();

      $('.navbar li a').each(function() {
        targets[targets.length] = $(this).attr('href');
      });

      for (i = 0; i < targets.length; i++) {
        if (i < targets.length - 1) {
          if ($(targets[i]).length && $(targets[i + 1]).length) {
            if (($(document).scrollTop() + 10 >= $(targets[i]).offset().top) && ($(document).scrollTop() <= $(targets[i + 1]).offset().top)) {
              target = targets[i];
            }
          }
        }
      }

      $('.navbar li').each(function() {
        $(this).removeClass('active');
        if ($('a', $(this)).attr('href') == target) $(this).addClass('active');
      });
    };

    $(document).ready(function() {
      $(window).scroll(function() {
        checkNavBar();
      });
      checkNavBar();

      $('.navbar a').click(function(e) {
        e.preventDefault();

        var target = $(this).attr('href');
        $('html, body').animate({
          scrollTop: $(target).offset().top
        },
        'slow',
        function() {
          checkMenu();
        });

        return false;
      });

      var config = {
        viewFactor : 0.15,
        duration   : 800,
        distance   : "0px",
        scale      : 0.8,
      }
      var block = {
        /*reset: true,*/
        /*viewOffset: { top: 64 }*/
      }
      window.sr = ScrollReveal(config);
      sr.reveal('#fonctionnalites', block);
      sr.reveal('#parallax', block);
      sr.reveal('#avantages', block);
      srpropos.reveal('#relais', block);
      sr.reveal('#a-', block);
      sr.reveal('#contact', block);
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#navbar a').click(function() {
        $("#navbar").removeClass("in");
      });
    });
    </script>
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.www.promomaker.fr"]);
      _paq.push(["setDomains", ["*.www.promomaker.fr"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://pharminfo.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/pharminfo.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <script src="{{ url_for('static', filename='tarteaucitron/tarteaucitron.js') }}"></script>
    <script type="text/javascript">
      tarteaucitron.init({
        "privacyUrl": "",
        "hashtag": "#tarteaucitron",
        "cookieName": "tarteaucitron",
        "orientation": "middle",
        "groupServices": false,
        "showAlertSmall": false,
        "cookieslist": false,
        "closePopup": false,
        "showIcon": false,
        //"iconSrc": "",
        "iconPosition": "BottomRight",
        "adblocker": false,
        "DenyAllCta" : true,
        "AcceptAllCta" : true,
        "highPrivacy": true,
        "handleBrowserDNTRequest": false,
        "removeCredit": false,
        "moreInfoLink": true,
        "useExternalCss": false,
        "useExternalJs": false,
        //"cookieDomain": "",
        "readmoreLink": "",
        "mandatory": true,
      });
    </script>
  </head>

  <body class="pull_top">
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid container-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-koz-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a href="#home" class="navbar-brand">Kozea Promomaker</a></h1>
        </div>

        <div class="collapse navbar-collapse navbar-koz-collapse" id="navbar" role="navigation">
          <ul class="nav navbar-nav navbar-right test" >
            <li class="active"><a href="#home">Accueil</a></li>
            <li><a href="#fonctionnalites">Fonctionnalités</a></li>
            <li><a href="#avantages">Avantages</a></li>
            <li><a href="#relais">Mode d'emploi</a></li>
            <li><a href="#a-propos">À propos</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="home" class="row">
        <div class="col-xs-12">
          <div id="concepteur">
            <h2 id="concepteurText"> Concepteur de PLV&nbsp;*<br/>
              <span class="small">Créer et diffuser des campagnes de communication et de promotion pour vos pharmacies</span>
            </h2>

            <div class="note">*&nbsp;Publicité sur Lieu de Vente</div>
          </div>
        </div>
      </div>

      {% with message = get_flashed_messages()[0] %}
        {% if message %}<div id="flash" class="row"><p>{{ message }}</p></div>{% endif %}
      {% endwith %}

      <div id="simple-groupement" class="row">
        <div class="col-xs-12">
          <h4>Simple pour votre groupement, accessible par tous vos pharmaciens adhérents</h4>
          <p>Promomaker est un outil innovant qui permet de gérer facilement sa PLV en pharmacie<br/>en créant des affiches promotionnelles automatiquement.</p>
          <iframe src="https://www.youtube.com/embed/DYS4roOFdQw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <div id="fonctionnalites">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="section-title">Des fonctionnalités adaptées<br/>à la création de vos promotions</h3>
          </div>
        </div>

        <ul class="fonctionnalites row">
          <li class="bdd col-xs-12 col-sm-4 col-md-3 col-md-offset-4">Base de données de plus de 8000 produits</li>
          <li class="douchette col-xs-12 col-sm-4 col-md-4">Utilisation possible de la douchette pour une intégration automatique du produit</li>
          <li class="baguette col-xs-12 col-sm-4 col-md-3">Création automatique de l'affiche</li>

          <li class="pdf col-xs-12 col-sm-4 col-md-3 col-md-offset-4">Convertisseur PDF</li>
          <li class="impression col-xs-12 col-sm-4 col-md-4">Choix du format d'impression (du A0 au A7)</li>
          <li class="automatisation col-xs-12 col-sm-4 col-md-3">Automatisation de campagnes de communication</li>
        </ul>
      </div>

      <div id="parallax" class="row"></div>

      <div id="avantages">
        <h3 class="section-title">Avantages</h3>
        <dl>
          <dt>Accessible à tous</dt>
          <dd>Disponible sur le web</dd>
          <dd>Accès personnalisé groupement</dd>
          <dd>Accès personnalisé adhérent</dd>
          <dd>Toutes les campagnes sont stockées sur la plateforme Promomaker</dd>
          <dd>Partage de document personnalisé</dd>
          <dt>Pour votre groupement</dt>
          <dd>Interface claire et simple d'utilisation</dd>
          <dd>Un visuel personnalisé selon votre groupement</dd>
          <dt>Sécurité</dt>
          <dd>Données cryptées et sécurisées</dd>
        </dl>
      </div>

      <div id="relais" class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="section-title">Un relais assuré<br/>de votre communication groupement</h3>
            </div>
          </div>

          <ul class="relais row">
            <li class="gauche first col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-3"><span class="visuel baguette"></span><span class="label">Le groupement<br/>crée les affichettes<br/>avec Promomaker</span></li>
            <li class="droite first col-xs-12 col-sm-4 col-md-4 col-lg-3"><span class="visuel enveloppe"></span><span class="label">et envoie les campagnes<br/>promotionnelles aux pharmaciens<br/>adhérents via Promomaker</span></li>

            <li class="gauche col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-3"><span class="visuel enveloppe-open"></span><span class="label">Le pharmacien reçoit<br/>par mail les campagnes<br/>promotionnelles à venir</span></li>
            <li class="droite col-xs-12 col-sm-4 col-md-4 col-lg-3"><span class="visuel fiche-select"></span><span class="label">Il sélectionne les affichettes<br/>de son choix à imprimer en<br/>pharmacie ou chez l'imprimeur</span></li>

            <li class="gauche col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-3"><span class="visuel fiche-multiple"></span><span class="label">Il choisit les formats<br/>d'impression<br/>et la quantité</span></li>
            <li class="droite col-xs-12 col-sm-4 col-md-4 col-lg-3"><span class="visuel telecharge"></span><span class="label">Il télécharge<br/>les affichettes<br/>au format PDF</span></li>

            <li class="gauche last col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-3"><span class="visuel hand-ok"></span><span class="label">Les campagnes promotionnelles<br/>sont pilotées<br/>en toute simplicité</span></li>
            <li class="end col-xs-12 col-sm-4 col-md-4 col-lg-3"></li>
          </ul>
        </div>
      </div>

      <div id="a-propos">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="section-title">À propos</h3>
          </div>
        </div>

        <div>
          <img src="{{ url_for('static', filename='images/kozea-group.jpg') }}" alt="Kozea group" title="Kozea group" class="img-responsive-propos" />
        </div>
        <div id="a-propos-text">
          <p>Promomaker est un service pensé et réalisé par <a href="https://www.kozea.fr" class="brand-ap"><strong>Kozea group</strong></a>.</p>
          <p><strong>Kozea group</strong> s'est penché sur l'élaboration de Promomaker à la suite d'une demande spécifique d'un groupement de pharmaciens qui souhaitait avoir un outil de
            création et de diffusion de campagnes promotionnelles.</p>
            <p>Le prototype de Promomaker a été créé en une semaine à l'aide d'un <strong>design sprint</strong>, suivi de tests utilisateurs auprès des pharmaciens du groupement pour valider la viabilité du projet.</p>
          <p>Véritable incubateur de solutions digitales innovantes, <strong>Kozea group</strong> a la volonté de s'imposer comme un acteur majeur de la e-santé grâce à des innovations comme Promomaker.</p>
        </div>
      </div>

      <div id="contact" class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="section-title">Contact</h3>
            </div>
            <div class="col-xs-12">
              <p class="text-center">Téléphone : <a href="tel:+33478841928">04 78 84 19 28</a></p>
            </div>
            <div class="col-xs-12">
              <p class="text-center">Mail : <a href="mailto:promomaker@kozea.fr">promomaker@kozea.fr</a></p>
            </div>
          </div>

          <form action="{{ url_for('contact') }}" class="form-inline" method="post">
            <div class="form-group">
              <label for="lastname">Nom*</label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom*">
            </div>

            <div class="form-group">
              <label for="firstname">Prénom*</label>
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom*">
            </div>

            <div class="form-group">
              <label for="company">Société*</label>
              <input type="text" class="form-control" id="company" name="company" placeholder="Société*">
            </div>

            <div class="form-group">
              <label for="email">Adresse email*</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Adresse email*">
            </div>

            <div class="form-group">
              <label for="phone">Téléphone*</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Téléphone*">
            </div>

            <div class="form-group-data">
              <label for="data">
                <input id="data" name="data" type="checkbox" required />
                J'accepte que les informations saisies soient exploitées par
                Kozea group dans le cadre de demande d'informations ou de devis
                et de la relation commerciale qui peut en découler. Je suis
                informé(e) que je peux facilement et à tout moment, modifier
                mes préférences d'abonnement.
              </label>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-default">Envoyer</button>
            </div>
          </form>
        </div>
      </div>

      <div id="footer" class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
          <a href="#tarteaucitron" id="cookiesButton">Cookies</a>
          <button type="button" id="mentionsButton" data-toggle="modal" data-target="#myModal">Mentions légales</button>-&nbsp;<strong>Promomaker</strong>, une marque <a href="https://www.kozea.fr/" class="kozea">kozea</a></div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <ul class="social">
            <li><a target="_blank" href="https://www.facebook.com/kozeagroup/"><i class="fa fa-facebook"></i><span>facebook</span></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/kozeagroup"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCx5VGRSsjpRWhc55EpI_gEw"><i class="fa fa-youtube"></i><span>youtube</span></a></li>
            <li><a target="_blank" href="https://twitter.com/Kozeagroup"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
            <li><a target="_blank" href="https://fr.pinterest.com/kozeagroup/"><i class="fa fa-pinterest-p"></i><span>pinterest</span></a></li>
            <li><a target="_blank" href="https://www.instagram.com/kozea/"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
            <li><a target="_blank" href="https://github.com/Kozea"><i class="fa fa-github"></i><span>github</span></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">&copy;&nbsp;Kozea 2017 - Tous droits réservés</div>
      </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Mentions Légales</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Hébergeur :</strong> Online, BP 438, 75366 Paris CEDEX 08, 01 84 13 00 00<br>
              <strong>Responsable de la publication :</strong> Philippe Donadieu<br>
              <strong>Raison sociale :</strong> Kozea<br>
              <strong>Forme juridique :</strong> S.À.R.L. unipersonnelle<br>
              <strong>SIREN :</strong> 508 023 694<br>
              <strong>Adresse :</strong> 107 boulevard Stalingrad, 69100 Villeurbanne<br>
              <strong>Capital social :</strong> 33 000 €<br>
              <strong>Numéro de TVA intracommunautaire :</strong> FR13 508023694
            </p>
            <h5>Pratiques en matière de respect de la vie privée</h5>
            <p>
              Le Règlement Général de Protection des données (RGPD) entré en
              vigueur le 25 mai 2018, définit les principes à respecter lors de
              la collecte, du traitement et de la conservation de données
              personnelles. Il garantit aussi les droits pour les personnes
              concernées.
            </p>
            <p>
              Kozea recueille des statistiques anonymes de visites ne
              nécessitant pas de consentement explicite. Si vous souhaitez ne
              pas être comptabilisé dans ces données statistiques, vous pouvez
              <a href="https://pharminfo.matomo.cloud/index.php?module=CoreAdminHome&action=optOut&language=fr">vous exclure</a>
              de ces statistiques.
            </p>
            <p>
              Kozea est une société du groupe Pegasus Network.
            </p>
            <p>
              Les informations récoltées peuvent être utilisées par Kozea et
              par toute autre structure de Pegasus Network.
            </p>
            <p>
              Plusieurs formulaires sont présents sur le site www.promomaker.fr afin de collecter les données d’un visiteur.
            </p>
            <h6>Objectifs</h6>
            <p>
              Le recueil des données sur le site www.promomaker.fr a pour
              objectif de constituer un fichier de gestion des prospects et
              clients pour la société Pegasus Network. Ce fichier est utilisé
              pour contacter et/ou proposer des offres adaptées aux contacts.
            </p>
            <h6>Données à caractère personnel</h6>
            <p>
              Afin de suivre au mieux l’intérêt porté par les prospects et
              clients de Pegasus Network, le fichier recueille toutes
              informations des visiteurs du site www.promomaker.fr relatives à
              l’identité et aux informations professionnelles.
            </p>
            <h6>Licéité du traitement et conditions applicables au consentement (art. 8 et art. 9 du RGPD)</h6>
            <p>
              Le consentement du traitement de données à caractère personnel
              d’un visiteur est systématiquement obtenu dans le but de faire
              partie de notre base de prospection pour lui proposer des
              informations et des offres susceptibles de l’intéresser.
            </p>
            <h6>Conservation des données</h6>
            <p>
              Les données recueillies sur le site www.promomaker.fr sont
              conservées pour une durée maximale de 3 ans pour les contacts
              prospects après leur dernière activité sur le site web par la
              personne. À l’issue de ces périodes, toutes les données relatives
              à la personne sont automatiquement supprimées.
            </p>
            <h6>Droits des personnes (art. 14 à art. 18 du RGPD)</h6>
            <p>
              Conformément à la loi informatique et libertés et au RGPD, toute
              personne peut exercer son droit d’accès, de rectification,
              d’opposition, à la limitation des traitements, à la suppression
              et la portabilité des données le concernant en faisant une
              demande signée et accompagnée de la copie d’un titre d’identité
              par mail à l’adresse
              <a href="mailto:promomaker@kozea.fr">promomaker@kozea.fr</a>
              ou par courrier à l’adresse du siège social de Pegasus Network à
              l’adresse suivante : 107 boulevard Stalingrad 69100
              Villeurbanne. Le responsable du fichier, effectuera une réponse
              au plus tard dans le mois suivant la demande d’accès ou de
              rectification.
            </p>
            <h6>Sécurité des données et traitements (art. 29 du RGPD)</h6>
            <p>
              Les données recueillies sur le site www.promomaker.fr et les
              traitements associés, sont hébergées par la société Online.
            </p>
            <p>
              Seules les personnes liées au service technique, marketing et
              commercial de la société Pegasus Network ont accès aux
              informations recueillies sur le site www.promomaker.fr.
            </p>
            <h6>Atteinte aux données et communication sous 72h (art. 30 et art. 31 du RGPD)</h6>
            <p>
              En cas de violation ou suspicion de violation de données à
              caractères personnels, Pegasus Network notifiera la CNIL, 72h au
              plus tard, après en avoir pris connaissance. Enfin, le cas
              échéant, l’utilisateur sera informé de la nature de la violation
              ainsi que sa portée et les moyens mis en œuvre pour résoudre
              l’incident.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" id="modalClose" data-dismiss="modal">Fermer</button>
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
      tarteaucitron.user.getguanty = '101338043';
      (tarteaucitron.job = tarteaucitron.job || []).push('getquanty');
    </script>
  </body>
</html>
